.root {
    -fx-background-color: "#2E2F35";
    -fx-background-radius: 2.5px;
    -fx-border-width: .5px;
    -fx-border-color: #dadada;
    -fx-border-radius: 2.5px;
}
#title {
    -fx-text-fill: #dadada;
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
}
#resetlab {
    -fx-text-fill: #dadada;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 18px;
}
#resetcont {
    -fx-background-color: "#D22D4A";
    -fx-background-radius: 2.5px;
}
#exitbcont {
    -fx-background-color: "#444651";
    -fx-background-radius: 2.5px;

}
#exitbcont:hover {
    -fx-background-color: "#D22D4A";
    -fx-background-radius: 2.5px;
}
#arcont {
    -fx-background-color: "#3F4045";
    -fx-background-radius: 2.5px;
    -fx-padding: 8, 0, 8, 0;
}
#arcont:hover {
    -fx-background-color: "#1D1E2555";
}
#arl {
    -fx-text-fill: #dadada;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14px;
}
#arls_ON {
    -fx-text-fill: #75D49C;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14px;
}
#arls_OFF {
    -fx-text-fill: #D22D4A;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14px;
}